@import '../../global.less';

.button {
  background-color: @theme-color;
  border-radius: 12px;
  font-size: 18px;
  font-family: @dabacus-font-medium;
  height: auto;
  padding: 12px 24px;
  line-height: 18px;
}