@import '~antd/lib/style/themes/default.less';
@import '../global.less';

.title {
	font-family: @dabacus-font-heavy;
	font-size: 36px;
	line-height: 36px;
	margin-top: 88px;
	margin-bottom: 100px;
	text-align: center;
}

.about {
	font-family: @dabacus-font;
	font-size: 24px;
	line-height: 33px;
	width: 100%;
	max-width: 824px;
	margin: 0 auto 400px auto;

	.topPara {
		font-family: @dabacus-font-medium;
		font-size: 16px;
		position: relative;
		font-style: italic;
		padding: 50px 0 30px 0;

		.openQuote {
			position: absolute;
			left: 0;
			top: 0;
			width: 63px;
		}

		.closeQuote {
			position: absolute;
			right: 0;
			bottom: 0;
			width: 63px;
		}
	}

	.aboutTitle {
		margin: 48px 0 30px 0;
		padding-top: 12px;
		font-family: @dabacus-font-heavy;
	}

	.aboutSubtitle {
		font-size: 16px;
		font-weight: 800;
		line-height: 20px;
		font-family: @dabacus-font-medium;
		margin-bottom: 15px;
	}

	.aboutBody {
		font-family: @dabacus-font-medium;
		font-size: 16px;
		line-height: 20px;

		&::first-letter {
		  font-size: 24px;
		}
	}

	.team {
		padding-left: 0;
		overflow: visible;
		white-space:nowrap;
		width: 100%;

		.teamTitle {
			font-family: @dabacus-font-medium;
			font-weight: 800;
			font-size: 36px;
			margin-top: 130px;
			margin-bottom: 37px;
		}

		.teamWrapper {
			cursor: pointer;
			text-align: center;
			font-family: @dabacus-font-medium;
			font-weight: 800;
			padding: 15px;
			display: inline-block;
			width: 20%;
			transition: all .2s ease-in-out;

			.teamAvatar {
				width: 100%;
			}

			.twitterIcon, .twitterActiveIcon {
				width: 14px;
				margin-top: -2px;
				margin-right: 2px;
			}

			.twitterIcon {
				display: inline-block;
			}

			.twitterActiveIcon {
				display: none;
			}

			.teamName {
				font-size: 14px;
				line-height: 14px;
				margin-top: 8px;
				margin-bottom: 4px;
			}

			.jobTitle, .teamIntro, .teamIntro a {
				font-size: 12px;
				line-height: 12px;
				margin-bottom: 12px;
				color: #AAB0B8;
			}

			.teamIntro {
				a:hover {
					color: @theme-color;

					.twitterIcon {
						display: none;
					}

					.twitterActiveIcon {
						display: inline-block;
					}
				}
			}

			&:hover {
				transform: scale(3.5);

			}
		}
	}
}

@media only screen and (max-width: 768px) { 
	.about {
		width: 100%;
		margin-bottom: 40px;
	}
}