@import '~antd/lib/style/themes/default.less';
@import '../global.less';

.title {
	font-family: @dabacus-font-heavy;
	font-size: 36px;
	line-height: 36px;
	margin-top: 88px;
	margin-bottom: 38px;
}

.about {
	font-family: @dabacus-font-medium;
	font-size: 18px;
	line-height: 33px;
	width: 66%;
	margin-bottom: 400px;

	.aboutTitle {
		font-size: 24px;
		line-height: 32px;
		margin: 48px 0 30px 0;
		padding-top: 12px;
	}
}

@media only screen and (max-width: 768px) { 
	.about {
		width: 100%;
		margin-bottom: 40px;
	}
}