@import '../global.less';

.swap-page {
	height: 100%;
}

.swap-wrapper {
	background: linear-gradient(241.25deg, rgba(255, 255, 255, 0.45) 4.4%, rgba(255, 255, 255, 0.65) 61.77%, rgba(255, 255, 255, 0.54) 119.94%);
	box-shadow: 50px 38px 102.371px rgba(120, 118, 148, 0.14);
	backdrop-filter: blur(21.5519px);
	border-radius: 32px;
	width: 600px;
	position: relative;
	margin-left: -300px;
	left: 50%;
	top: 20%;
	margin-bottom: 400px;
	padding: 32px;
}

.swap-title {
	font-family: @dabacus-font-medium;
	font-size: 24px;
	text-align: center;
	color: #000;
}

.swap-subtitle {
	font-family: @dabacus-font-medium;
	font-size: 18px;
	color: #AAB0B8;
	margin: 18px 0 4px 0;
}

.swap-input {
	.ant-input, .ant-input-group-addon {
		background: #F9F9F9;
		border-radius: 12px;
		border: none;
		padding: 16px 20px;
		font-size: 24px;
		font-family: @dabacus-font-medium;
		color: #AAB0B8;
		line-height: 24px;
	}

	.ant-input-group-addon {
		font-size: 21px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	.ant-select-selection-item {
		color: @theme-color;
		font-size: 21px;
	}

	.ant-select-arrow {
		color: @theme-color;
		font-size: 14px;
	}
}

.token-select {
	.ant-select-item-option-content {
		padding: 6px 15px;
	}
}

.swap-button {
	background: @theme-color;
	border-radius: 12px;
	width: 100%;
	padding: 16px 0;
	color: #fff;
	font-size: 18px;
	font-family: @dabacus-font-medium;
	font-weight: 800;
	text-align: center;
	margin-top: 48px;
	cursor: pointer;

	&.with-approve {
		margin-top: 24px;
		opacity: 0.5;
	}
}

.connectWalletWrapper {
	margin-top: 48px;
}

.token-symbol {
	font-size: 18px;
}

.ant-input-group-addon {
	.ant-select-selection-item {
		.ant-col-4.ant-col {
			display: none;
		}

		.token-name {
			display: none;
		}

		.token-symbol {
			font-size: 21px;
			line-height: 34px;
		}
	}
}

@media only screen and (max-width: 1200px) {
	.swap-wrapper {
	    width: 406px;
	    margin-left: -203px;
	}
}

@media only screen and (max-width: 768px) {
	.swap-wrapper {
	    width: 90%;
	    left: 5%;
	    margin-left: 0;
	    top: 30px;
	    margin-bottom: 100px;
	    padding: 24px;
	}
}