@import '~antd/lib/style/themes/default.less';
@import '../global.less';

.title {
	font-family: @dabacus-font-heavy;
	font-size: 64px;
	max-width: 750px;
	line-height: 87px;
	margin-top: 120px;
}

.titleSpan {
	color: @theme-color;
}

.bgdImg {
	position: absolute;
	z-index: -1;
	left: 10%;
	top: 360px;
}

.p {
	font-size: 18px;
	line-height: 24px;
	margin: 20px 0 33px 0;
	max-width: 622px;
}
.p.topPara {
	font-family: @dabacus-font-medium;
}
.featureImg {
	width: 75px;
	height: 50px;
}
.featureTitle {
	font-family: @dabacus-font-heavy;
	font-size: 24px;
	margin: 16px 0;
	line-height: 24px;
}
.featureDesc {
	font-family: @dabacus-font-medium;
	font-size: 14px;
	line-height: 19px;
}
.feature {
	padding: 18px 20px;
}
.allFeaturesWrapper {
	padding: 32px;
	border: 1px solid #E3E4E7;
	border-radius: 16px;
	width: 328px;
	height: 265px;
	margin-right: 0;
}
.firstLine {
	width: 302px;
    position: relative;
    left: 50%;
    margin-top: 15px;
}
.secondLine {
	width: 636px;
    margin: 0 auto;
    display: block;
    margin-bottom: 30px;
}
.thirdLine {
	width: 302px;
    position: relative;
    left: 50%;
    margin-top: 15px;
    margin-left: -302px;
    margin-bottom: 30px;
}
.features {
	margin-top: 200px;
	padding: 0 100px;
}
.subtitle {
	font-family: @dabacus-font-heavy;
	font-size: 47px;
	line-height: 65px;
	margin-bottom: 16px;
}
.subtitleDesc {
	font-family: @dabacus-font-medium;
	font-size: 18px;
}
.halfFeatureWrapper {
	max-width: 457px;
	margin: 0 auto;
	text-align: right;
}
.halfFeatureWrapperLeft {
	max-width: 457px;
	margin: 0 auto;
	text-align: left;
	margin-bottom: 24px;
}
.subtitleLeft {
	margin-bottom: 24px;
}
.communityTitle {
	width: 100%;
	text-align: center;
	margin-bottom: 48px;
}
.communityImg {
	img {
		width: 160px;
		margin: 0 auto;
		display: block;
		cursor: pointer;
	}

	img.activeSocial {
		display: none;
	}

	&:hover {
		img {
			box-shadow: 0px 0px 16px 1px rgba(19, 27, 105, 0.08);
			border-radius: 16px;

			display: none;
		}

		img.activeSocial {
			display: block;
		}
	}
}

.featureGif {
	width: 100%;

	&.topGif {
		width: 140%;
	    margin-top: 80px;
	    margin-left: -20%;
	    z-index: -1;
    	position: relative;
	}

	&.bottomGif {
		width: 90%;
    	margin-top: -65px;
	}
}

@media only screen and (max-width: 768px) {
	.title {
		font-family: @dabacus-font-heavy;
		font-size: 36px;
		max-width: 100%;
		line-height: 49px;
		margin-top: 0px;
		text-align: center;
	}

	.topPara {
		text-align: center;
	}

	.features {
		margin-top: 80px;
		padding: 0;
	}

	.feature {
		padding: 0;
		margin-bottom: 13px;
	}

	.allFeaturesWrapper {
		width: 100%;
		height: 326px;
		padding: 16px;
		border-radius: 9px;
	}

	.featureImg {
		width: 40px;
		height: 27px;
	}

	.featureTitle {
		font-size: 18px;
	}

	.lineWrapper {
		display: none;
	}

	.subtitle {
		font-family: @dabacus-font-heavy;
		font-size: 24px;
		line-height: 33px;
		margin-bottom: 16px;
		text-align: center;
		margin-top: 80px;
	}
	.subtitleDesc {
		font-family: @dabacus-font-medium;
		font-size: 14px;
		line-height: 19px;
		text-align: center;
	}

	.featureGif {
		&.bottomGif {
			width: 100%;
	    	margin-top: 0px;
		}
	}

	.communityImg {
		margin-bottom: 15px;
		margin-top: 15px;

		img {
			width: 60%;
		}

		img.activeSocial {
			display: none;
		}

		&:hover {
			img {
				box-shadow: none;
				border-radius: 0px;

				display: block;
			}

			img.activeSocial {
				display: none;
			}
		}
	}

}