@import '../../global.less';

.header {
  padding: 30px 0;
  background: #fff;

  &.appPageHeader {
  	padding: 25px 0;
  	height: 100px;
  }
}

.logo {
  width: 184px;
  margin: 8px 0;
}

.pageMenu {
	border: none;
	float: right;
	font-family: @dabacus-font-medium;
	font-size: 18px;
}
