.ant-menu-submenu {
	border-bottom: none !important;

	&:hover {
		border-bottom: none !important;
	}

	.ant-menu {
		box-shadow: 0px 0px 12px rgba(19, 27, 105, 0.1) !important;
		border-radius: 8px !important;
	}
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu {
	margin-left: 36px;
	margin-right: 36px;
}