@import '../../global.less';

.sideMenu {
  img {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    margin-top: -3px;
  }

  font-size: 18px;
  font-family: @dabacus-font-medium;
  font-weight: 800;
  color: #AAB0B8;
  padding-right: 1px;
}

.appSideBar {
  width: 220px;
  padding-left: 20px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;

  a > img.logo {
    width: 131px;
    margin: 24px 0px 66px 24px;
  }
}

@media only screen and (max-width: 768px) {
  .appSideBar {
    display: none;
  }
}