.app-side-bar {
	.ant-menu:not(.ant-menu-horizontal) {

		.ant-menu-item {
			border-color: #5956FF;
			transition: border 0.1s ease-in-out;
		}


		.ant-menu-item-selected {
			background-color: transparent !important;
			background: none !important;

			&:after {
				display: none;
			}

			color: #000;
			border-right: 5px solid #5956FF;
		}
	}

	.normal-icon {
		display: inline-block;
	}

	.active-icon, .light-icon {
		display: none;
	}

	.ant-menu-item-selected {
		.normal-icon, light-icon {
			display: none;
		}

		.active-icon {
			display: inline-block;
		}
	}

	.ant-menu-inline {
		border-right: none;
	}

	.ant-menu-inline .ant-menu-item:not(:last-child) {
		margin-bottom: 24px;
	}

	.ant-menu-inline .ant-menu-item {
		margin-top: 24px;
	}

	.ant-menu-item {
		a {
			color: #AAB0B8;
		}

		&:active {
			background-color: transparent;
		}

		&.ant-menu-item-selected a {
			color: #000;
		}

		&:not(.ant-menu-item-selected):hover {

			img.light-icon {
				display: inline-block;
				width: 24px;
			}

			.normal-icon, .active-icon {
				display: none;
			}

			a {
				color: #E3E4E7;
			}
		}


	}

	@media only screen and (max-width: 768px) {
		.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu {
			margin-left: 8px;
	    	margin-right: 0px;
		}

		.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item {
			margin-left: 8px;
			margin-right: 8px;
		}
	}
}

.app-header {
	.ant-affix {
		z-index: 999;
	}
}