@import '../global.less';

.sideMenu {
	img {
		width: 24px;
		height: 24px;
		margin-right: 8px;
	}

	font-size: 18px;
	font-family: @dabacus-font-medium;
	color: #AAB0B8;
}

.appContent {
	margin-top: 0px;
}

.appHeader {
	a img {
		margin-left: 24px;
	}
}

.pageContentContainer {
	padding: 30px 60px 120px 30px;
}

.appSideBar {
	a > img {
		margin: 24px 0 60px 24px;
	}
}