@import '../global.less';

.sideMenu {
	img {
		width: 24px;
		height: 24px;
		margin-right: 16px;
		margin-top: -3px;
	}

	font-size: 18px;
	font-family: @dabacus-font-medium;
	font-weight: 800;
	color: #AAB0B8;
	padding-right: 1px;
}

.appContent {
	margin-top: 0px;
}

.appHeader {
	a img {
		margin-left: 24px;
	}
}

.pageContentContainer {
	padding: 48px 56px 78px 56px;
	background-color: #F9F9F9;
	border-radius: 32px 0px 0px 0px;
	background-image: url(../assets/app-bgd.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

.appSideBar {
	padding-left: 20px;

	a > img.logo {
		width: 131px;
		margin: 24px 0px 38px 24px;
	}
}