@import '../global.less';

.appContent {
	margin-top: 0px;
}

.appHeader {

	a img {
		margin-left: 24px;
	}
}

.pageContentContainer {
	margin-left: 220px;
}

.pageContentWrapper {
	padding: 48px 56px 78px 56px;
	background-image: url(../assets/app-content-bgd.png);
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-x: 220px;
    background-position-y: 68px;
    background-size: cover;
}

.tabBar {
		display: none;
}


@media only screen and (max-width: 768px) {
  .pageContentContainer {
		margin-left: 0px;
	}

	.appHeader {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 9999;
	}

	.tabBar {
		display: block;
		position: fixed;
		height: 100%;
		width: 100%;
		top: 0;
		padding-top: 68px;
	}

	.pageContentWrapper {
		display: none;
	}
}